# Dependency directories
node_modules/
jspm_packages/

# Editors
.vscode/
.idea/
.DS_Store
Thumbs.db
*.suo
*.sln

# General
logs/
*.log

# Environment variables
.env
.env.local
.env.*.local

/backend
/frontend
/free-react-tailwind-admin-dashboard

.opencode/*
.vscode/*

*.bat

.agent/*